name: Real CI pipeline

on:
  push:
    branches: [ "main" ]

jobs: 
  build: 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker Image
      run: |
        docker build -t ssm0712/github-actions-week5-day2:${{ github.sha }} .
        docker build -t ssm0712/github-actions-week5-day2:latest .

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      run: actions/checkout@v3

    - run: npm install

    - run: npm test

  push:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Login to Dockerhub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin    

    - name: Push Images
      run: | 
        docker push ssm0712/github-actions-week5-day2:${{ github.sha }}
        docker push ssm0712/github-actions-week5-day2:latest
  